@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: Geist, sans-serif;
  background-color: #fafafa;
}

.input-shadow {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.button-shadow {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.04) 0px 2px 2px 0px;
}

textarea {
  resize: none;
}
