@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Söhne, sans-serif;
  background-color: #f9f9f9;
  color: #080808;
}

::selection {
  background-color: #080808;
  color: #f9f9f9;
}
