@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Söhne;
  src: url("/fonts/TestSohne-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Söhne, sans-serif;
  background-color: #f9f9f9;
  color: #080808;
}

::selection {
  background-color: #080808;
  color: #f9f9f9;
}
